@charset "utf-8";
/* CSS Document */
	body{
		 background: url("https://dss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2205098326,1655454830&fm=26&gp=0.jpg") no-repeat fixed right top;
	}
h1{
	background-color: #E2BBE4; color: #F4EBEB;
	
}
